<footer>
  <!-- Optional local footer (insert citation / project-specific copyright / etc here -->
  <div id="local-footer">
    <div class="row">
      <span class="reference">How to reference this page: ...</span>
    </div>
  </div>
  <!-- End optional local footer -->

  <div id="global-footer">
    <div class="row small text-center">
      <p>
        <a href="https://www.ebi.ac.uk/"><img src="{{ site.domain }}{{ site.baseurl }}/static/images/ebi_footer_logo.png" /></a>
        <a href="http://cordis.europa.eu/fp7/dc/index.cfm"><img src="{{ site.domain }}{{ site.baseurl }}/static/images/footer_bg_0.png" /></a>
      </p>

      <p>
        MICROME is an EU Framework Programme 7 Collaborative Project. Grant Agreement Number 222886-2<br />
        Site maintained by the External Services team at <a href="http://www.ebi.ac.uk/">EMBL-EBI</a> | <a href="http://www.ebi.ac.uk/Information/termsofuse.html">Terms of Use</a> | <a href="http://www.ebi.ac.uk/Information/privacy.html">Privacy</a> | <a href="http://www.ebi.ac.uk/Information/e-directive.html">Cookies</a>
      </p>
    </div>
  </div>

</footer>

<!-- JavaScript -->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<!--
<script>window.jQuery || document.write('<script src="../js/libs/jquery-1.10.2.min.js"><\/script>')</script>
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- Your custom JavaScript file scan go here... change names accordingly -->
<script defer="defer" src="https://www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.1/js/cookiebanner.js"></script>
<script defer="defer" src="https://www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.1/js/foot.js"></script>
<script defer="defer" src="https://www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.1/js/script.js"></script>

<!-- The Foundation theme JavaScript -->
<script src="https://www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.1/libraries/foundation-6/js/foundation.js"></script>
<script src="https://www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.1/js/foundationExtendEBI.js"></script>
<script type="text/JavaScript">$(document).foundation();</script>
<script type="text/JavaScript">$(document).foundationExtendEBI();</script>

{% comment %} Custom global JS could go here: {% endcomment %}
{% for js in site.custom_js %}
<script src="{{js}}"></script>
{% endfor %}

{% comment %} Custom Component Scripts (from individual .md files) go here: {% endcomment %}
{% for js in page.javascript %}
<script src="{{js}}"></script>
{% endfor %}

<!-- Google Analytics details... -->
<!-- Change UA-XXXXX-X to be your site's ID -->
<!--
<script>
  window._gaq = [['_setAccount','{{site.ga_code}}'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>
-->
