  <div id="skip-to">
    <ul>
      <li><a href="#content">Skip to main content</a></li>
      <li><a href="#local-nav">Skip to local navigation</a></li>
      <li><a href="#global-nav">Skip to EBI global navigation menu</a></li>
      <li><a href="#global-nav-expanded">Skip to expanded EBI global navigation menu (includes all sub-sections)</a></li>
    </ul>
  </div>

  <div data-sticky-container>
    <div id="local-masthead" data-sticky data-sticky-on="large" data-top-anchor="180" data-btm-anchor="300000">
      <header>

        <div class="masthead row">

          <!-- local-title -->
          <div class="columns medium-7" id="local-title">
            <h1><a href="{{ site.domain }}{{ site.baseurl }}" title="Back to {{ site.name }} homepage"><img src="{{ site.domain }}{{ site.baseurl }}/static/logo-microme.png" title="{{ site.name }}" /></a></h1>
          </div>
          <!-- /local-title -->

          <!-- local-nav -->
              <nav >
                <ul class="dropdown menu float-left" data-description="navigational" data-dropdown-menu>
                  {% comment %}
                  We construct the site naviagion by loading a list of the site's pages
                  and filtering to just those with the front matter of:
                    group: "in_local_navigation"
                  and we order by adding
                    order: 2 (whatever number)
                  {% endcomment %}
                  {% assign navigation_list = site.pages | sort:"order" %}
                  {% assign group = 'in_local_navigation' %}
                  {% include navigation_list.html %}
                </ul>
                <!-- <ul class="menu dropdown float-right" data-dropdown-menu data-description="functional">
                  <li class="functional"><a href="#"><i class="icon icon-generic" data-icon="d"></i> Share this</a>
                    <ul class="menu js">
                      <li><a href="#">Item 1A Loooong</a></li>
                      <li>
                        <a href='#'> Item 1 sub</a>
                        <ul class='menu'>
                          <li><a href='#'>Item 1 subA</a></li>
                          <li><a href='#'>Item 1 subB</a></li>
                          <li>
                            <a href='#'> Item 1 sub</a>
                            <ul class='menu'>
                              <li><a href='#'>Item 1 subA</a></li>
                              <li><a href='#'>Item 1 subB</a></li>
                            </ul>
                          </li>
                          <li>
                            <a href='#'> Item 1 sub</a>
                            <ul class='menu'>
                              <li><a href='#'>Item 1 subA</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">Item 1B</a></li>
                    </ul>

                </ul> -->
              </nav>
          <!-- /local-nav -->

        </div>

      </header>

      </div>
  </div>
