/* code custom to this site*/
div#local-masthead { background: #fff; }
h2.title { color: #111; }

/* style the menu like the old site */
#local-masthead h1, #local-masthead h4, #local-masthead p, #local-masthead a {
  color: #48497b;
}

#local-masthead nav ul li.active a, #local-masthead nav ul li a:active, #local-masthead ul li.active-trail a, #local-masthead ul li.active a:visited, #local-masthead ul li.active-trail a:visited {
  color: #48497b;
}

ul.dropdown.menu.float-left {
  border-top: 5px solid #48497b;
  width: 100%;
}
